<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>星级讲师卡片条组件</title>
    <link rel="stylesheet" href="./index.css">
    <style>
    </style>
</head>
<body>
    <div class="lecturer-card-container">
        <div class="top-lecturer-info">
            <div class="left-lecturer-content">
                <div class="head-img"><img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt=""></div>
                <div class="lecturer-name">
                    <p class="name beauty-lecturer">二向箔Development Engineer：ThreeLEI</p>
                    <p class="kc">课程<span class="number">88</span>门</p>
                </div>
            </div>
            <div class="right-home-link"><a href="#">进入主页</a></div>
        </div>
        <div class="bottom-introduction">
            <p class="txt">ThreeLEI毕业于哔哩哔哩大学，专业为二向箔研发与创新。</p>
        </div>
    </div>
</body>
</html>