<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>明星讲师卡片</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="card-lecturer">
        <div class="left-head-picture">
            <div class="img-container"><img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt=""></div>
            <div class="lecturer-tags">ThreeLEI</div>
        </div>
        <div class="right-content">
            <div class="call-titles">萌新讲师</div>
            <p class="introduction">
                ThreeLEI来自于三体星，是妥妥的三体星人，毕业于blibli大学，专业是二向箔的开发，以及高级恒星级武器的研发工作。
            </p>
        </div>
    </div>
</body>
</html>