<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>明星讲师卡片</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="card-lecturer">
        <div class="left-head-picture">
            <a href="#">
                <div class="img-container"><img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt=""></div>
                <div class="lecturer-tags">ThreeLEI</div>
            </a>
        </div>
        <div class="right-content">
            <div class="call-titles">萌新讲师</div>
            <p class="introduction">
                毕业于“哔哩哔哩”大学，量子力学专业，研究二向箔技术。
            </p>
        </div>
    </div>
</body>
</html>