<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>热门好课-卡片组件</title>
    <link rel="stylesheet" href="./index.css">
    <style>
        body {
            background-color: #bbbbbb;
        }
    </style>
</head>
<body>
    <div class="card-hot-Good-Lesson">
        <a href="#">
            <div class="top-images">
                <div class="start-icon iconfont icon-24gf-playCircle"></div>
                <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                <div class="hot-tags"></div>
            </div>
            <div class="bottom-content">
                <h2>H5-React全系列</h2>
                <div class="score">
                    <div class="star"></div><span class="fs">4.16667</span><span>分</span>
                </div>
                <div class="zan">
                    <div class="iconfont icon-zan"></div>
                    <span class="number-person">12</span>人好评
                </div>
            </div>
        </a>
    </div>
</body>
</html>