<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页侧边导航组件</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body {
            background-color: #aaaaaa;
            height: 2000px;
        }
    </style>
</head>
<body>
    <div class="right-sidebar">
        <div class="kf"></div>
        <div class="app-download">
            <div class="ewm"><img src="../../assets/images/Three二维码.png" alt=""></div>
        </div>
        <a class="return-top" href="#"></a>
    </div>
</body>
</html>