<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>明星讲师章节</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="chapter-container bx">
        <div class="chapter-titles">
            <h3 class="title">- 明 . 星 . 讲 . 师 -</h3>
            <div class="english">Star lecturer</div>
            <a href="#" class="right-txt">更多&gt;</a>
        </div>
        <div class="chapter-content-area">
            <!--chapter-content-area容器内部通过 c5 c4 c3 内容划分几列-->
            <div class="card-lecturer">
                <div class="left-head-picture">
                    <a href="#">
                        <div class="img-container"><img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt=""></div>
                        <div class="lecturer-tags">ThreeLEI</div>
                    </a>
                </div>
                <div class="right-content">
                    <div class="call-titles">萌新讲师</div>
                    <p class="introduction">
                        毕业于“哔哩哔哩”大学，量子力学专业，研究二向箔技术。
                    </p>
                </div>
            </div>
            <div class="card-lecturer">
                <div class="left-head-picture">
                    <a href="#">
                        <div class="img-container"><img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt=""></div>
                        <div class="lecturer-tags">ThreeLEI</div>
                    </a>
                </div>
                <div class="right-content">
                    <div class="call-titles">萌新讲师</div>
                    <p class="introduction">
                        毕业于“哔哩哔哩”大学，量子力学专业，研究二向箔技术。
                    </p>
                </div>
            </div>
            <div class="card-lecturer">
                <div class="left-head-picture">
                    <a href="#">
                        <div class="img-container"><img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt=""></div>
                        <div class="lecturer-tags">ThreeLEI</div>
                    </a>
                </div>
                <div class="right-content">
                    <div class="call-titles">萌新讲师</div>
                    <p class="introduction">
                        毕业于“哔哩哔哩”大学，量子力学专业，研究二向箔技术。
                    </p>
                </div>
            </div>
            <div class="card-lecturer">
                <div class="left-head-picture">
                    <a href="#">
                        <div class="img-container"><img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt=""></div>
                        <div class="lecturer-tags">ThreeLEI</div>
                    </a>
                </div>
                <div class="right-content">
                    <div class="call-titles">萌新讲师</div>
                    <p class="introduction">
                        毕业于“哔哩哔哩”大学，量子力学专业，研究二向箔技术。
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>