<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情-课程评论</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="comments-container">
        <div class="comments-head-title">评论</div>
        <div class="comments-content">
            <div class="top">
                <span class="txt">给该课程打分：</span>
                <div class="star">
                    <div class="yellow-star" style="width: 50%"></div>
                </div>
            </div>
            <label>
                <textarea placeholder="请输入对该课程的评价"></textarea>
            </label>
            <div class="comments-button">评论</div>
        </div>
    </div>
</body>
</html>