<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情-课程大纲组件</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <ul class="outline">
        <li>
            <span class="c-number">课时1</span>
            <span class="point complete"></span>
            <span class="title-text">Python爬虫-必备基础-概述</span>
            <a href="#" class="right-bottom">立即观看</a>
        </li>
        <li>
            <span class="c-number">课时1</span>
            <span class="point watch-half"></span>
            <span class="title-text">Python爬虫-必备基础-网络基础-网络概念</span>
            <a href="#" class="right-bottom">立即观看</a>
        </li>
        <li>
            <span class="c-number">课时1</span>
            <span class="point"></span>
            <span class="title-text">Python爬虫-必备基础-网络基础-IP地址</span>
            <a href="#" class="right-bottom">立即观看</a>
        </li>
        <li>
            <span class="c-number">课时1</span>
            <span class="point"></span>
            <span class="title-text">Python爬虫-必备基础-网络基础-域名概念</span>
            <a href="#" class="right-bottom">立即观看</a>
        </li>
        <li>
            <span class="c-number">课时1</span>
            <span class="point"></span>
            <span class="title-text">Python爬虫-必备基础-网络基础-客户端和服务器-概念</span>
            <a href="#" class="right-bottom">立即观看</a>
        </li>
        <li>
            <span class="c-number">课时1</span>
            <span class="point"></span>
            <span class="title-text">Python爬虫-必备基础-网络基础-客户端和服务器交互-URL</span>
            <a href="#" class="right-bottom">立即观看</a>
        </li>
        <li>
            <span class="c-number">课时1</span>
            <span class="point"></span>
            <span class="title-text">Python爬虫-必备基础-网络基础-客户端和服务器交互-协议</span>
            <a href="#" class="right-bottom">立即观看</a>
        </li>
    </ul>
</body>
</html>