<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>学院新闻列表组件</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body{
            background-color: #bbbbbb;
        }
    </style>
</head>
<body>
    <div class="bx">
        <a href="#" class="news-list" title="点击查看新闻详情">
            <div class="news-list-title">
                <div class="left-title">三体学院-二向箔升级计划</div>
                <div class="right-date">2023-01-01</div>
            </div>
            <div class="news-list-content">
                <p class="text">12月28日晚间小米召开新品发布会，正式推出最新旗舰机小米11。
                    雷军表示，小米11给人最大的感受就是轻、薄，因而在发布会前小米就打出了最新广告语“轻装上阵”。
                    除此之外，小米还在微博上发布了一系列新品发布会倒计时海报、产品介绍海报，文案和设计都值得细品。
                    小米11，全新高端之作12月28日正式发布
                    有多少想象，就有多少超越想象的惊艳
                    有多少期待，就有多少难以置信的突破
                    有多少关注，就有多少不计代价的投入
                    十年即将过去，新十年即将开始
                    2021 轻装上阵！
                </p>
            </div>
            <div class="news-img-list">
                <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20170523%2F50b6d581183d41f9925b3929e46798b0_th.jpg&refer=http%3A%2F%2Fimg.mp.itc.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1672666480&t=17e94b8c2fa5534299cc68df093e49da" alt="">
                <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Finews.gtimg.com%2Fnewsapp_bt%2F0%2F13377787202%2F1000.jpg&refer=http%3A%2F%2Finews.gtimg.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1672666480&t=b43177a9f50aa5b300bc45bda5c477f7" alt="">
                <img src="https://img0.baidu.com/it/u=1356751920,2465968952&fm=253&fmt=auto&app=138&f=JPEG?w=889&h=500" alt="">
                <img src="https://img0.baidu.com/it/u=2579716450,2950734082&fm=253&fmt=auto&app=138&f=JPEG?w=889&h=500" alt="">
                <img src="https://img1.baidu.com/it/u=1235334727,3649223624&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281" alt="">
                <img src="https://img2.baidu.com/it/u=3500059723,1266209426&fm=253&fmt=auto&app=138&f=JPEG?w=889&h=500" alt="">
                <div class="browse-count"><i class="iconfont icon-liulan"></i> <span>140233</span> <span>次</span></div>
            </div>

        </a>
    </div>

</body>
</html>