<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情-课程评论</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="comments-list">
        <div class="comments-head-title">评论</div>
        <div class="comments-list-container">
            <div class="comments-items">
                <div class="top-info">
                    <div class="left-head-img">
                        <img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt="">
                    </div>
                    <div class="right">
                        <div class="top-user-name">
                            <span>淚泪泪</span>
                            <div class="star">
                                <div class="yellow-star" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="bottom-time">
                            <span>2022-12-12 17:21:07</span>
                        </div>
                    </div>
                </div>
                <div class="bottom-content">课程讲的真的不错，可以说是吊打市面上的百分之九十的教程了，爱了，必须给5星啊</div>
            </div>
            <div class="comments-items">
                <div class="top-info">
                    <div class="left-head-img">
                        <img src="http://q.qlogo.cn/headimg_dl?dst_uin=2087806863&spec=640&img_type=jpg" alt="">
                    </div>
                    <div class="right">
                        <div class="top-user-name">
                            <span>白空空</span>
                            <div class="star">
                                <div class="yellow-star" style="width: 100%"></div>
                            </div>
                        </div>
                        <div class="bottom-time">
                            <span>2022-11-05 09:13:57</span>
                        </div>
                    </div>
                </div>
                <div class="bottom-content">
                    我滴妈呀，这个课程是我至今位置找到最详细的课程了
                    简直了详细啊666。
                    我直接买了这个老师的全部系列课程，准备大干一场了！
                    等我学完再来追评！兄弟们等我好消息。
                </div>
            </div>
        </div>
    </div>

</body>
</html>