@import url(../../css/base.css);
@import url(../../config/colorConfig.css);
.course-play-container {
  width: 100%;
  min-width: 1205px;
  height: 700px;
  background-color: var(--darkText);
  display: flex;
}
.course-play-container > .left {
  flex: 1;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.course-play-container > .left .video-box-top {
  flex: 1;
  align-self: flex-start;
  display: flex;
  align-items: center;
}
.course-play-container > .left .video-box-top .return-tags {
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--borderColor);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--darkText);
  transition: all 0.3s;
}
.course-play-container > .left .video-box-top .return-tags .icon-zuojiantou1 {
  font-size: 14px;
  margin-right: 5px;
}
.course-play-container > .left .video-box-top .return-tags:hover {
  background-color: #eee;
}
.course-play-container > .left .video-box {
  width: calc(100% - 50px * 2);
  height: 500px;
  display: flex;
  flex-direction: column;
}
.course-play-container > .left .video-box .current-video-title {
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.course-play-container > .left .video-box .video-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.course-play-container > .left .video-box .video-container #player {
  height: 100%;
}
.course-play-container > .left .video-box-bottom {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.course-play-container > .left .video-box-bottom .next-video,
.course-play-container > .left .video-box-bottom .last-video {
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.course-play-container > .left .video-box-bottom .next-video:hover,
.course-play-container > .left .video-box-bottom .last-video:hover {
  border-color: var(--themColor);
  color: var(--themColor);
}
.course-play-container > .right {
  width: 330px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.course-play-container > .right > .top-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--borderColor);
  color: var(--darkText);
  font-size: 18px;
}
.course-play-container > .right > .course-list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
  -ms-overflow-style: none;
}
.course-play-container > .right > .course-list::-webkit-scrollbar {
  width: 0 !important;
}
.course-play-container > .right > .course-list .outline {
  width: 100%;
  height: 100%;
}
.course-play-container > .right > .course-list .outline.no-show > li > .right-bottom {
  display: none;
}
.course-play-container > .right > .course-list .outline > li {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
  color: var(--mianTextColor);
  cursor: default;
  transition: all 0.3s;
  position: relative;
}
.course-play-container > .right > .course-list .outline > li::before {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #aaaaaa;
  position: absolute;
  top: 0;
  left: 59px;
  z-index: 1;
}
.course-play-container > .right > .course-list .outline > li:hover {
  color: var(--themColor);
}
.course-play-container > .right > .course-list .outline > li:hover .right-bottom {
  color: var(--themColor);
  border-color: var(--themColor);
}
.course-play-container > .right > .course-list .outline > li .c-number {
  width: 50px;
  font-size: 12px;
}
.course-play-container > .right > .course-list .outline > li .point {
  width: 19px;
  height: 19px;
  margin-right: 10px;
  background-image: url("../../assets/images/listIcons.png");
  background-position: -136px -80px;
  z-index: 9;
}
.course-play-container > .right > .course-list .outline > li .point.watch-half {
  background-position: -168px -80px;
}
.course-play-container > .right > .course-list .outline > li .point.complete {
  background-position: -200px -80px;
}
.course-play-container > .right > .course-list .outline > li > .title-text {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.course-play-container > .right > .course-list .outline > li .right-bottom {
  width: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  color: var(--borderColor);
  transition: all 0.3s;
}
/*# sourceMappingURL=./index.css.map */