<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程播放-容器组件</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="course-play-container">
        <div class="left">
            <div class="video-box-top">
                <a href="#" class="return-tags">
                    <span class="iconfont icon-zuojiantou1"></span>返回课程主页
                </a>
            </div>
            <div class="video-box">
                <div class="current-video-title">第1节: Python爬虫-必备基础-概述</div>
                <div class="video-container">
                    <div id="player"></div>
                </div>
            </div>
            <div class="video-box-bottom">
                <div class="last-video">上一集</div>
                <div class="next-video">下一集</div>
            </div>
        </div>
        <div class="right">
            <div class="top-title">课程目录</div>
            <div class="course-list">
                <ul class="outline no-show">
                    <li>
                        <span class="c-number">课时1</span>
                        <span class="point complete"></span>
                        <span class="title-text">动漫绘画-必备基础-概述</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时2</span>
                        <span class="point watch-half"></span>
                        <span class="title-text">绘画必备基础-光与影</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时3</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-板绘控笔练习1</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时4</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-板绘控笔练习2</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时5</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-板绘控笔练习3</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时6</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构概述</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时7</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-头部结构</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时8</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-身体结构</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时9</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-腿部结构</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时10</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-脚部结构</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时11</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-整体拼接</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时12</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-肌肉结构</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时13</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-二头肌拆分</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时14</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-男性腹部肌肉</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时15</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-人体结构-女性腹部肌肉</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时16</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-火柴人的学习方法</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时17</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-火柴人的比例</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时18</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-火柴人的动态</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时19</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画基础-火柴人的认识与绘制</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时20</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-基本透视法</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时21</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-物体的透视法则</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时22</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-物体的形变透视法则综合运用</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时23</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-一幅画的视平线在哪？</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时24</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-几何人体躯干部画法</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时25</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-几何人当中的点</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时26</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-人体的躯干和下肢</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时27</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-人体的手臂绘画及修改方法1</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时28</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-人体的手臂绘画及修改方法2</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时29</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-如何通过参考画人物</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时30</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-人物衣服装备的绘制</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时31</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-不同国家不同泳装鉴赏</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时32</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-死库水的绘制逻辑</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时33</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-比基尼泳装的绘制方法</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时34</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-将泳装与人物合并</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时35</span>
                        <span class="point"></span>
                        <span class="title-text">动漫绘画进阶-人物体型与不同泳装的搭配</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                    <li>
                        <span class="c-number">课时36</span>
                        <span class="point"></span>
                        <span class="title-text">完结-大作业</span>
                        <a href="#" class="right-bottom">立即观看</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="DPlayer.min.js">
    </script>
    <script>
        const dp = new DPlayer({
            container: document.getElementById('player'),
            video: {
                url: '../../assets/videos/mda-mdsky6xcniccm3w8.mp4',
            },
        });
    </script>
</body>
</html>