<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>01-首页导航栏</title>
    <link rel="stylesheet" href="index.css">
    <style>
        body {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div id="nav-bar">
        <div class="content bx">
            <div class="top-box">
                <div class="left-logo">
                    <!--对网站设置SEO优化-->
                    <h1>
                        <a href="#">淚泪泪</a>
                    </h1>
                </div>
                <div class="center-box">
                    <form action="">
                        <div class="center-search">
                            <div class="down-menu">
                                <label>
                                    <select name="category">
                                        <option value="all">全部</option>
                                        <option value="course">课程</option>
                                        <option value="lecturer">讲师</option>
                                        <option value="article">文章</option>
                                    </select>
                                </label>
                            </div>
                            <div class="search">
                                <label>
                                    <input type="text" placeholder="请输入关键字" name="searchContent">
                                </label>
                            </div>
                            <div class="search-button iconfont">
                                    <input type="submit" value="&#xe8b9; 搜索">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="right-login">
                    <div class="box">
                        <div class="login-box">
                            <span class="user-name"><i class="iconfont">&#xe60c;</i>淚泪泪</span>
                            <img src="../../assets/images/派蒙头像.png" alt="" class="user-head-img">
                        </div>
                        <div class="panel">
                            <ul>
                                <li class="item"><a href="https://xlsir.zcool.com.cn/">xlsir.zcool.com.cn</a></li>
                                <li class="item"><a href="#">我的学习</a></li>
                                <li class="item"><a href="#">我的优惠卷</a></li>
                                <li class="item"><a href="#">设置</a></li>
                                <li class="item"><a href="#">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-box">
                <div class="left-nav-list">
                    <ul>
                        <li class="item current"><a href="#">首页</a></li>
                        <li class="item"><a href="#">讲师</a></li>
                        <li class="item"><a href="#">课程</a></li>
                        <li class="item"><a href="#">新闻</a></li>
                        <li class="item"><a href="#">关于我们</a></li>
                    </ul>
                </div>
                <div class="right-menu">
                    <ul>
                        <li class="iconfont">
                            &#xe61d; 扫码领福利
                            <div class="AP-menu">
                                <p class="title">关注淚泪泪公众号</p>
                                <p class="txt">- 领取课程免费福利，超值学习资料 -</p>
                                <img src="../../assets/images/Three二维码.png" alt="二维码">
                            </div>
                        </li>
                        <li class="iconfont">
                            &#xe619; 微信小程序
                            <div class="AP-menu">
                                <p class="title">微信小程序</p>
                                <p class="txt">- 关注即送500￥优惠卷 -</p>
                                <img src="../../assets/images/Three二维码.png" alt="二维码">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
