<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>01-首页导航栏</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="nav-bar">
        <div class="content bx">
            <div class="top-box">
                <div class="left-logo">
                    <!--对网站设置SEO优化-->
                    <h1>
                        <a href="#">淚泪泪</a>
                    </h1>
                </div>
                <div class="center-box">
                    <form action="">
                        <div class="center-search">
                            <div class="down-menu">
                                <label>
                                    <select name="category">
                                        <option value="all">全部</option>
                                        <option value="course">课程</option>
                                        <option value="lecturer">讲师</option>
                                        <option value="article">文章</option>
                                    </select>
                                </label>
                            </div>
                            <div class="search">
                                <label>
                                    <input type="text" placeholder="请输入关键字" name="searchContent">
                                </label>
                            </div>
                            <div class="search-button iconfont">
                                    <input type="submit" value="&#xe8b9; 搜索">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="right-login">
                    <div class="box">
                        <div class="login-box">
                            <span class="user-name">用户：淚泪泪</span>
                            <img src="../../assets/images/派蒙头像.png" alt="" class="user-head-img">
                        </div>
                        <div class="panel"></div>
                    </div>
                </div>
            </div>
            <div class="bottom-box">
                <div class="left-nav-list"></div>
                <div class="right-menu"></div>
            </div>
        </div>
    </div>
</body>
</html>
