<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>01-首页导航栏</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="nav-bar">
        <div class="content">
            <div class="top-box">
                <div class="left-logo"></div>
                <div class="center-search"></div>
                <div class="right-login"></div>
            </div>
            <div class="bottom-box">
                <div class="left-nav-list"></div>
                <div class="right-right-nav"></div>
            </div>
        </div>
    </div>
</body>
</html>
