<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热门好课章节组装</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="chapter-container bx">
        <div class="chapter-titles">
            <h3 class="title">- 热 . 门 . 好 . 课 -</h3>
            <div class="english">Popular and good courses</div>
            <a href="#" class="right-txt">更多&gt;</a>
        </div>
        <div class="chapter-content-area">
            <!--chapter-content-area容器内部通过 c5 c4 c3 内容划分几列-->
            <div class="card-hot-Good-Lesson c5">
                <a href="#">
                    <div class="top-images">
                        <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                        <div class="hot-tags">热门</div>
                    </div>
                    <div class="bottom-content">
                        <div class="card-title">
                            H5-React全系列
                            <p class="lecturer">
                                讲师:
                                <span class="lecturer-name">淚泪泪</span>
                            </p>
                        </div>
                        <div class="score">
                            <div class="star"><div style="width: 50%;" class="yellow-star"></div></div>
                            <span class="fs">4.16667</span>
                            <span>分</span>
                        </div>
                        <div class="zan">
                            <div class="iconfont icon-zan"></div>
                            <span class="number-person">666</span>人好评
                            <div class="release-date">2022-11-30</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-hot-Good-Lesson c5">
                <a href="#">
                    <div class="top-images">
                        <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                        <div class="hot-tags">热门</div>
                    </div>
                    <div class="bottom-content">
                        <div class="card-title">
                            H5-React全系列
                            <p class="lecturer">
                                讲师:
                                <span class="lecturer-name">淚泪泪</span>
                            </p>
                        </div>
                        <div class="score">
                            <div class="star"><div style="width: 50%;" class="yellow-star"></div></div>
                            <span class="fs">4.16667</span>
                            <span>分</span>
                        </div>
                        <div class="zan">
                            <div class="iconfont icon-zan"></div>
                            <span class="number-person">666</span>人好评
                            <div class="release-date">2022-11-30</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-hot-Good-Lesson c5">
                <a href="#">
                    <div class="top-images">
                        <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                        <div class="hot-tags">热门</div>
                    </div>
                    <div class="bottom-content">
                        <div class="card-title">
                            H5-React全系列
                            <p class="lecturer">
                                讲师:
                                <span class="lecturer-name">淚泪泪</span>
                            </p>
                        </div>
                        <div class="score">
                            <div class="star"><div style="width: 50%;" class="yellow-star"></div></div>
                            <span class="fs">4.16667</span>
                            <span>分</span>
                        </div>
                        <div class="zan">
                            <div class="iconfont icon-zan"></div>
                            <span class="number-person">666</span>人好评
                            <div class="release-date">2022-11-30</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-hot-Good-Lesson c5">
                <a href="#">
                    <div class="top-images">
                        <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                        <div class="hot-tags">热门</div>
                    </div>
                    <div class="bottom-content">
                        <div class="card-title">
                            H5-React全系列
                            <p class="lecturer">
                                讲师:
                                <span class="lecturer-name">淚泪泪</span>
                            </p>
                        </div>
                        <div class="score">
                            <div class="star"><div style="width: 50%;" class="yellow-star"></div></div>
                            <span class="fs">4.16667</span>
                            <span>分</span>
                        </div>
                        <div class="zan">
                            <div class="iconfont icon-zan"></div>
                            <span class="number-person">666</span>人好评
                            <div class="release-date">2022-11-30</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-hot-Good-Lesson c5">
                <a href="#">
                    <div class="top-images">
                        <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                        <div class="hot-tags">热门</div>
                    </div>
                    <div class="bottom-content">
                        <div class="card-title">
                            H5-React全系列
                            <p class="lecturer">
                                讲师:
                                <span class="lecturer-name">淚泪泪</span>
                            </p>
                        </div>
                        <div class="score">
                            <div class="star"><div style="width: 50%;" class="yellow-star"></div></div>
                            <span class="fs">4.16667</span>
                            <span>分</span>
                        </div>
                        <div class="zan">
                            <div class="iconfont icon-zan"></div>
                            <span class="number-person">666</span>人好评
                            <div class="release-date">2022-11-30</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-hot-Good-Lesson c5">
                <a href="#">
                    <div class="top-images">
                        <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                        <div class="hot-tags">热门</div>
                    </div>
                    <div class="bottom-content">
                        <div class="card-title">
                            H5-React全系列
                            <p class="lecturer">
                                讲师:
                                <span class="lecturer-name">淚泪泪</span>
                            </p>
                        </div>
                        <div class="score">
                            <div class="star"><div style="width: 50%;" class="yellow-star"></div></div>
                            <span class="fs">4.16667</span>
                            <span>分</span>
                        </div>
                        <div class="zan">
                            <div class="iconfont icon-zan"></div>
                            <span class="number-person">666</span>人好评
                            <div class="release-date">2022-11-30</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-hot-Good-Lesson c5">
                <a href="#">
                    <div class="top-images">
                        <img src="../../assets/images/course_img.png" alt="" class="course-picture">
                        <div class="hot-tags">热门</div>
                    </div>
                    <div class="bottom-content">
                        <div class="card-title">
                            H5-React全系列
                            <p class="lecturer">
                                讲师:
                                <span class="lecturer-name">淚泪泪</span>
                            </p>
                        </div>
                        <div class="score">
                            <div class="star"><div style="width: 50%;" class="yellow-star"></div></div>
                            <span class="fs">4.16667</span>
                            <span>分</span>
                        </div>
                        <div class="zan">
                            <div class="iconfont icon-zan"></div>
                            <span class="number-person">666</span>人好评
                            <div class="release-date">2022-11-30</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>