<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>课程面板组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <main class="bx">
        <div class="course-panel-container">
            <ul class="head-panel-options">
                <li><a href="#" class="choose">课程介绍</a></li>
                <li><a href="#" class="">课程大纲</a></li>
            </ul>
            <div class="bottom-container">
                <ul class="left-course-content">
                    <li class="choose">课程介绍</li>
                    <li class="">课程大纲</li>
                </ul>
                <div class="right-comments">评论</div>
            </div>
        </div>
    </main>
</body>
</html>