<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页章节组件-容器组件</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="chapter-container bx">
        <div class="chapter-titles">
            <h3 class="title">- 热 . 门 . 好 . 课 -</h3>
            <div class="english">Popular and good courses</div>
            <a href="#" class="right-txt">更多&gt;</a>
        </div>
        <div class="chapter-content-area">
            <!--chapter-content-area容器内部通过 c5 c4 c3 内容划分几列-->
        </div>
    </div>
</body>
</html>