<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>底部组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <footer>
        <div class="footer-container bx">
            <div class="left-info">
                <p class="company-info">二向箔云课堂 是三体教育（SANTI.com）旗下专注于星际武器研发的在线学习平台。</p>
                <ul class="menu">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">撩课论坛</a></li>
                </ul>
                <p class="copyright-info">&copy;2022-2022 课程内容版权均归 三体教育 所有 三体ICP备18822299181</p>
            </div>
            <div class="right-info">
                <div class="top-img">
                    <div class="qq"><div class="qq-ewm ewm"><img src="../../assets/images/Three二维码.png" alt=""></div></div>
                    <div class="wx"><div class="qq-ewm ewm"><img src="../../assets/images/Three二维码.png" alt=""></div></div>
                </div>
                <div class="center">
                    <span>客服热线</span> 09:00 ~ 19:00
                </div>
                <div class="footer-phone">0755-6666-6666</div>
            </div>
        </div>
    </footer>
</body>
</html>