<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的学习-用户信息展示面板组件</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="user-info-panel">
        <img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt="">
        <p class="user-name">ThreeLEI</p>
        <p class="user-signature">人生自古谁无死，留取丹心照汗青。</p>
    </div>
</body>
</html>