<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>课程卡片组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <main class="bx">
        <div class="course-intro-container">
            <div class="left-img"><img src="../../assets/images/c122f67882ae465d8233a70d410c39ee_th.jpg" alt=""></div>
            <div class="right-course">
                <h3 class="course-title">泳装的绘制技巧</h3>
                <p class="score"><span>评分：5.0 分</span>&nbsp;&nbsp;<span>评价人数：65 人</span></p>
                <p class="lecturer">讲师: <span>淚泪泪</span></p>
                <a href="#" class="score-button">立即学习</a>
            </div>
        </div>
    </main>
</body>
</html>