<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>迷你导航栏</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="mini-navbar">
        <div class="navbar-container bx">
            <div class="left-logo-container">
                <div class="logo"><a href="#"><img src="../../assets/images/logo-mini.png" alt=""></a></div>
                <ul>
                    <li class="item current"><a href="#">讲师</a></li>
                    <li class="item"><a href="#">课程</a></li>
                    <li class="item"><a href="#">新闻</a></li>
                </ul>
            </div>
            <form action="">
                <div class="center-search-container">
                    <div class="center-search">
                        <div class="down-menu">
                            <label>
                                <select name="category">
                                    <option value="all">全部</option>
                                    <option value="course">课程</option>
                                    <option value="lecturer">讲师</option>
                                    <option value="article">文章</option>
                                </select>
                            </label>
                        </div>
                        <div class="search">
                            <label>
                                <input type="text" placeholder="请输入关键字" name="searchContent">
                            </label>
                        </div>
                        <div class="search-button iconfont">
                            <input type="submit" value="&#xe8b9;">
                        </div>
                    </div>
                </div>
            </form>
            <div class="right-user-info">
                <div class="right-login">
                    <div class="box">
                        <div class="login-box">
                            <span class="user-name"><i class="iconfont">&#xe60c;</i>淚泪泪</span>
                            <img src="../../assets/images/派蒙头像.png" alt="" class="user-head-img">
                        </div>
                        <div class="panel">
                            <ul>
                                <li class="item"><a href="https://xlsir.zcool.com.cn/">xlsir.zcool.com.cn</a></li>
                                <li class="item"><a href="#">我的学习</a></li>
                                <li class="item"><a href="#">我的优惠卷</a></li>
                                <li class="item"><a href="#">设置</a></li>
                                <li class="item"><a href="#">退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>