@import url(../../css/base.css);
@import url(../../config/colorConfig.css);
.mini-navbar {
  height: 60px;
  width: 100%;
  min-width: 1205px;
  background-image: url("../../assets/images/bg_nav_rep.png");
  background-repeat: repeat-x;
  z-index: 99;
}
.mini-navbar .navbar-container {
  height: 100%;
  display: flex;
}
.mini-navbar .navbar-container .left-logo-container {
  flex: 3;
  height: 100%;
  display: flex;
}
.mini-navbar .navbar-container .left-logo-container .logo {
  height: 100%;
}
.mini-navbar .navbar-container .left-logo-container .logo img {
  height: 100%;
}
.mini-navbar .navbar-container .left-logo-container ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.mini-navbar .navbar-container .left-logo-container ul .item {
  margin: 0 15px;
  padding: 5px 0;
  transition: border-bottom-color 0.3s;
  position: relative;
}
.mini-navbar .navbar-container .left-logo-container ul .item a {
  color: #fff;
  font-size: 16px;
}
.mini-navbar .navbar-container .left-logo-container ul .item.current:after,
.mini-navbar .navbar-container .left-logo-container ul .item:hover:after {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  content: "";
  border-bottom: 3px solid var(--themColor);
}
.mini-navbar .navbar-container .left-logo-container ul .item.current a,
.mini-navbar .navbar-container .left-logo-container ul .item:hover a {
  color: var(--themColor);
}
.mini-navbar .navbar-container .center-search-container {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
}
.mini-navbar .navbar-container .center-search-container .center-search {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  border: 1px solid var(--mianTextColor);
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--darkText);
}
.mini-navbar .navbar-container .center-search-container .center-search .down-menu {
  flex: 1;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.mini-navbar .navbar-container .center-search-container .center-search .down-menu select {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 14px;
  color: #fff;
}
.mini-navbar .navbar-container .center-search-container .center-search .down-menu select:focus {
  color: #fff;
}
.mini-navbar .navbar-container .center-search-container .center-search .down-menu select option {
  font-size: 16px;
  background-color: var(--darkText);
}
.mini-navbar .navbar-container .center-search-container .center-search .search {
  flex: 3;
  height: 100%;
}
.mini-navbar .navbar-container .center-search-container .center-search .search input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 10px;
  margin: 0;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--mianTextColor);
  background-color: transparent;
}
.mini-navbar .navbar-container .center-search-container .center-search .search input:focus {
  color: #fff;
  background-color: var(--darkText);
}
.mini-navbar .navbar-container .center-search-container .center-search .search-button {
  flex: 1;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.mini-navbar .navbar-container .center-search-container .center-search .search-button input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #fff;
  background-color: transparent;
}
.mini-navbar .navbar-container .right-user-info {
  flex: 2;
  height: 100%;
}
.mini-navbar .navbar-container .right-user-info .right-login {
  flex: 1;
  height: 100%;
  z-index: 999;
}
.mini-navbar .navbar-container .right-user-info .right-login .box {
  width: fit-content;
  height: 60px;
  line-height: 60px;
  margin-left: auto;
  position: relative;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .login-box {
  display: flex;
  align-items: center;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .login-box .user-name {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .login-box .user-name i {
  font-size: 25px;
  vertical-align: middle;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .login-box .user-head-img {
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.mini-navbar .navbar-container .right-user-info .right-login .box:hover .panel {
  display: block;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel {
  display: none;
  width: 200px;
  background-color: #fff;
  border: 1px solid var(--borderColor);
  position: absolute;
  right: 0;
  border-radius: 5px;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel > ul {
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel > ul li {
  line-height: normal;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel > ul li a {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 10px;
  line-height: 20px;
  font-size: 14px;
  color: var(--mianTextColor);
  box-sizing: border-box;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel > ul li a:active {
  color: var(--themColor);
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel > ul li a:hover {
  background-color: #eeefff;
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel > ul li:first-child > a {
  color: var(--themColor);
  border-bottom: 1px solid var(--lightBorder);
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel > ul li:last-child > a {
  border-top: 1px solid var(--lightBorder);
}
.mini-navbar .navbar-container .right-user-info .right-login .box .panel:before {
  content: "";
  border: 10px solid transparent;
  border-bottom-color: var(--borderColor);
  position: absolute;
  top: -20px;
  right: 10px;
}
/*# sourceMappingURL=index.css.map */