<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>讲师介绍条组件</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="top-lecturer-intro-bar">
        <div class="intro-bar-container bx">
            <div class="lecturer-head-img">
                <img src="http://q.qlogo.cn/headimg_dl?dst_uin=3026947373&spec=640&img_type=jpg" alt="">
            </div>
            <div class="name-and-intro">
                <div class="name">三体学院可控反物质负责人：ThreeLEI</div>
                <div class="intro">
                    正电子、负质子都是反粒子，它们跟通常所说的电子、质子相比较，电量相等但电性相反。科学家设想在宇宙中可能存在完全由反粒子构成的物质，也就是反物质。电子和反电子的质量相同，但有相反的电荷。质子与反质子也是这样。粒子与反粒子不仅电荷相反，其他一切可以相反的性质也都相反。
                </div>
            </div>
        </div>
    </div>
</body>
</html>