<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学院新闻-卡片组件</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="news-card">
        <ul class="news-list">
            <li>
                <a href="#">最新恒星级武器，开发完毕</a>
                <span class="right-date">2022-12-12 12:12:00</span>
            </li>
            <li>
                <a href="#">百度地图推出最新科技《传送门》，可以直接进行空间跳转，但是费用极高</a>
                <span class="right-date">2022-12-12 12:12:00</span>
            </li>
            <li>
                <a href="#">最新恒星级武器，开发完毕</a>
                <span class="right-date">2022-12-12 12:12:00</span>
            </li>
            <li>
                <a href="#">最新恒星级武器，开发完毕</a>
                <span class="right-date">2022-12-12 12:12:00</span>
            </li>
            <li>
                <a href="#">最新恒星级武器，开发完毕</a>
                <span class="right-date">2022-12-12 12:12:00</span>
            </li>
        </ul>
    </div>
</body>
</html>